
@font-face {
    font-family: Inter;
    src: url("font/inter/Inter-V.ttf");
}

body{
    font-family: Inter;
}

.font{
    font-weight:700;
    font-family: 'Inter', sans-serif;
    width:100%;
}


.hover:hover {
    background-color: #00000032;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}


.active{
    background-color: #00000032;
    border-radius: 10px;
}

.hover-list:hover{
    background-color: #00000032;
}

.active-list{
    background-color: #00000032;
}

.card-border{
    border: solid 10px #323546;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}

.list{
    background-color: #323546;
}

.card{
    background-color: #323546;
}

.scroll{
    height: 750px;
    overflow-x: hidden;
    overflow-y: auto;
}

.abs-center {
    display: flex;
    justify-content: center;

  }